*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
nav{
    width: 100%;
    position: sticky !important;
    left: 0%;
    top: 0%;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .5);
    z-index: 10;
}
.navbar-brand{
    font-weight: 700;
    font-family: 'Lora', sans-serif;
}
.nav-link{
    text-transform: capitalize;
    color: white;
}
.nav-link:hover{
    border-bottom: 1px solid white;
}
#home{
    width: 100%;
    height: 90vh;
    background: linear-gradient(#07080066 ,rgba(0,0,0,0.4)),url(img/-8cs77x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;

}
#home p{
    position: absolute;
    top: 40%;
    font-weight: 100;
    font-size: 70px;
    opacity: 0;
    animation: text 9s ease-in-out infinite;
    
}
#home p:nth-child(1){
    animation-delay: 0s;

}
#home p:nth-child(2){
    animation-delay: 3s;

}
#home p:nth-child(3){
    animation-delay: 6s;
}

@keyframes text{

     0% {
        opacity: 0;
    }
    11.11% {
        opacity: 1;
    }
    33.33% {
        opacity: 0;
    }
    100% {
        opacity: 0;}
}
@media screen and (max-width:576px){
    #home p{
    font-size: 50px;
    }
}
#home span{
    color: yellowgreen;
    font-weight: 400;
}
/* about */
#about{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background:#2f2f2f;
}
#about .about{
    position: relative;
    height: 60%;
    width: 30%;
    background: goldenrod;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    border-radius: 50%;
    transition: 1s;
}
#about img{
    height: 150px;
    width: 130px;
    position: relative;
    top: -5%;
   
    filter: grayscale(100%);
    transition: 1s;
}


#about .about:hover{
    position: relative;
    top: -3%;
    height: 55%;
    width: 80%;
    background:goldenrod;
    color: black;
   font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    border-radius: 10%;
    transition: 1s;

}
 
#about .about:hover img{
    height: 150px;
    width: 130px;
    position: relative;
    top: 7%;
    left:-37%;
    filter:grayscale(90%);
    
    transition: 1s;
}
.about p{
    margin-top: -10%;
   visibility: hidden;
   font-family:'Lora', sans-serif;
    font-weight: 200;
}
.about:hover p{
    padding: 10px;
    padding-left: 23%;
    position: relative;
    top: -25%;
  visibility: visible;
  
}
.about:hover h1{
    opacity: 0;
    transition: 1s;
}

@media screen and (max-width:900px){
#about{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background:#2f2f2f;
}
#about .about{
    position: relative;
    height: 37vh;
    width: 27vw;
    background: goldenrod;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    border-radius: 50%;
    transition: 1s;
}
#about img{
    height: 28vh;
    width: 15vw;
    position: relative;
    top: -3%;
    filter: grayscale(100%);
    transition: 1s;
}


#about .about:hover{
    position: relative;
    top: -3%;
    height: 50vh;
    width: 80%;
    background:goldenrod;
    color: black;
   font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    border-radius: 10%;
    transition: 1s;

}
 
#about .about:hover img{
    height: 120px;
    width: 100px;
    position: relative;
    top: 7%;
    left:-40%;
    filter:grayscale(90%);
    
    transition: 1s;
}
.about p{
    
   visibility: hidden;
   font-family:'Lora', sans-serif;
    font-weight: 150;
}
.about h1{
    font-size:20px;
}
.about:hover p{
    padding: 10px;
    padding-left: 21%;
    padding-bottom: 5%;
    position: relative;
    top: -27%;
  visibility: visible;
  
}
.about:hover h1{
    opacity: 0;
    transition: 1s;
}

}
@media screen and (max-width:480px){
    #about{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        background:#2f2f2f ;
    }
    #about .about{
        position: relative;
        
        height: 25%;
        width: 55%;
        background: goldenrod;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 50%;
        transition: 1s;
    }
    #about img{
        height: 150px;
        width: 130px;
        position: relative;
        top: -5%;
        transition: 1s;
    }
    
    
    #about .about:hover{
        height: 65vh;
        width: 84%;
        background:goldenrod;
        color: black;
       font-weight: 500;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 0vh;
        border-radius: 10%;
        transition: 1s;
       
    
    }
     
    #about .about:hover img{
        height: 150px;
        width: 130px;
        position: relative;
        top: -3%;
        left:0%;
        filter: drop-shadow(0px 5px  rgba(70, 4, 4, 0.4));
        filter: grayscale(100%);
        transition: 1s;
    }
    .about p{
        margin-top: 30%;
       visibility: hidden;
    }
    .about:hover p{
        padding: 15px;
      visibility: visible;
     
    }
    .about:hover h1{
        opacity: 0;
        transition: 1s;
    }
    
   

}

/* skills */
#skills{
    
    width: 100%;
    font-size: 20px;
    background-color: lightgrey;
}
.container{
    margin-top: 6%;
}
.progress{
    height: 35px !important;
    box-shadow: 3px 4px 6px gray,-2px -2px 5px white;
}
.progress:hover{
    box-shadow: 3px 4px 6px whitesmoke,-2px -2px 5px grey;
}